.pand-kaart {
    width: 900px;
    height: 200px;
    margin: 20px;
    border-radius: 35px;
    box-shadow: rgba(130, 182, 150, 0.2) 0 -25px 18px -14px inset, rgba(49, 63, 54, 0.15) 0 1px 2px, rgba(175, 243, 201, 0.15) 0 2px 4px, rgba(54, 77, 63, 0.15) 0 4px 8px, rgba(92, 255, 155, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;

}

.input {
    width: 800px !important;
    font-size: 14px;
    border: none;
    border-radius: 35px;
    background: linear-gradient(to bottom, #f0f0f0, #d3d3d3);
    height: 42px;
    color: rgb(176, 182, 178);
    cursor: pointer;
    font-size: larger;
    font-weight: 300;
    font-family: 'Rubik';
    margin-top: -80px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 6px;
    margin: 5px;
}