.input {
    width: 800px !important;
    font-size: 14px;
    border: none;
    border-radius: 35px;
    background: linear-gradient(to bottom, #f0f0f0, #d3d3d3);
    height: 42px;
    color: rgb(176, 182, 178);
    cursor: pointer;
    font-size: larger;
    font-weight: 300;
    font-family: 'Rubik';
    margin-top: -80px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 6px;
    margin: 5px;
}

/* Make input responsive */
@media (max-width: 1024px) {
    .input {
        width: 90% !important;
        margin: 10px auto;
        font-size: 16px;
        margin-top: -20px;
    }
}

.panden-list {
    display: flex;
    justify-content: space-between; /* Adjust spacing between cards */
    align-items: stretch; /* Ensure cards are aligned properly */
    flex-wrap: wrap; /* Allow wrapping if necessary */
    gap: 10px; /* Space between cards */
    width: 90%;
    margin-left: 5%;
}

/* Adjust panden-list layout for smaller screens */
@media (max-width: 768px) {
    .panden-list {
        flex-direction: column;
        gap: 15px;
        margin-left: 0;
        width: 100%;
    }
}

.filter-container {
    width: fit-content;
    height: fit-content;
    margin-left: 2%;
    padding: 10px;
    border-radius: 15px;
    z-index: 999;
    position: relative;
    box-shadow: rgba(130, 182, 150, 0.2) 0 -25px 18px -14px inset, rgba(49, 63, 54, 0.15) 0 1px 2px, rgba(175, 243, 201, 0.15) 0 2px 4px, rgba(54, 77, 63, 0.15) 0 4px 8px, rgba(92, 255, 155, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
}

/* Adjust filter-container alignment for smaller screens */
@media (max-width: 768px) {
    .filter-container {
        margin-left: 0;
        margin-right: 0;
        width: 90%;
    }
}

.options {
    background: linear-gradient(to bottom, #f0f0f0, #d3d3d3);
    cursor: pointer;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 2px 4px 8px #c5c5c5;
    transition: all 300ms;
    margin: 2px;
}

/* Adjust options for smaller screens */
@media (max-width: 768px) {
    .options {
        width: 100%;
        height: 40px;
        font-size: 14px;
    }
}

.option {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    transition: all 300ms;

}

/* Adjust options styling for smaller screens */
@media (max-width: 768px) {
    .option {
        height: 50px;
        font-size: 14px;
    }
}