.inschrijvingen-content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
  
.inschrijvingen-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.inschrijving-card h2 {
    margin-bottom: 10px;
}
  
.inschrijving-card p {
    margin: 5px 0;
    font-size: 16px;
}
  
.inschrijving-card h3 {
    margin-top: 15px;
    font-size: 18px;
    color: #333;
}

.sidebar {
  background-color: #f9f9f9;
  position: absolute;
  width: 300px;
  height: 700px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10px 0px 0px 0px;
  overflow-y: auto;
}

.item {
  cursor: pointer;
  border-radius: 4px;
  transition: color 0.3s;
}

.item:hover {
  color: #ccc;
}

.item.active {
  color: #ccc;
  font-weight: bold;
}

.inschrijving-card, .serviceverzoek-card {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
}

.centered-message {
  text-align: center;
  color: #666;
}

.options {
  background: linear-gradient(to bottom, #f0f0f0, #d3d3d3);
  cursor: pointer;
  width: 150px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 2px 4px 8px #c5c5c5;
  transition: all 300ms;
  margin: 2px;
}